.body{
    background-color: gray;
}

.header{
    background-color: lightgray;
    width: 800px;
    height: 100px;
    text-align: center;

    
}

.nav{

}

.innerContent{

}

.innerBod{

}

.article{

}

.h123{

}

.p{

}

.aside{

}

.footer{

}